apiVersion: v1
kind: Namespace
metadata:
  name: trivy-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: trivy-operator
  namespace: trivy-system
  labels:
    app.kubernetes.io/name: trivy-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: trivy-operator
  template:
    metadata:
      labels:
        app.kubernetes.io/name: trivy-operator
    spec:
      serviceAccountName: trivy-operator
      containers:
      - name: trivy-operator
        image: aquasec/trivy-operator:0.14.1
        env:
        - name: TRIVY_SERVER_URL
          value: "http://trivy-server.trivy-system.svc.cluster.local:4974"
        - name: TRIVY_SERVER_TOKEN
          valueFrom:
            secretKeyRef:
              name: trivy-operator-secret
              key: token
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "200m"